/* Bitte alle allgemeinen Styles hier einfügen */
.left {
    text-align: left;
    border-bottom: 1px solid #B45347;
}

.center {
    text-align: center;
    border-bottom: 1px solid #B45347;
}

.answer {
    text-align: left;
    border-bottom: 1px solid #B45347;
}
.detailAntworten {
    border-bottom: 1px solid #B45347;
}

.detailAntwortenCount {
    font-size: 18px;
    text-align: center;

}

.themen {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    min-height: 520px;
}

.question-hyperlink {
    font-size: 18px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
    text-align: center;

}

.material-icons.md-90 {
    font-size: 90px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Geneva";
    background-color: white;
    color: black;
    padding-top: 110px;
    /* Whatever the height of your navbar is; the default is 50px */
    padding-bottom: 140px;
}

div {
    padding: 5px;
}

.btn.btn-default {
    width: 100%;
    background-color: #B45347;
    color: white;
    height: 100%;
}

.btn.btn-custom {
    width: 60%;
    background-color: #B45347;
    color: white;
}

/* line spacing for form"Registrierung" */
.registerPanel{
    padding-bottom: 0%;
    padding-top: 0%;
    margin:0%
}

.seperator {
    background-color: #3097d1;
    min-height: 2px;
    color: white;
    font-weight: normal;
    text-align: center;
}

/*vertical line*/
@media(min-width:992px) {
    .border-between > [class*='col-']:before {
        background: #e3e3e3;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        width: 1px;
        top: 0;
    }

    .border-between > [class*='col-']:first-child:before {
        display: none;
    }
}

#sidebarContainer{
    padding-top: 10px;
}
