/* Bitte alle allgemeinen Styles hier einfügen */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lobster", "Geneva";
    background-color: white;
    color: black;
    padding-top: 100px;
    /* Whatever the height of your navbar is; the default is 50px */
    padding-bottom: 140px;
}

div {
    padding: 5px;
}

