/* Bitte alle allgemeinen Styles hier einfügen */
.left {
    text-align: left;
    border-bottom: 4px solid #B45347;
    font-weight: bold;
}

.center {
    text-align: center;
    border-bottom: 1px solid #B45347;
}

.answer {
    text-align: left;
    border-bottom: 1px solid #B45347;
}

.detailAntworten {
    border-bottom: 1px solid #B45347;
}

.detailAntwortenCount {
    font-size: 18px;
    text-align: center;

}

.themen {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    min-height: 520px;
}

.question-hyperlink {
    /*
    color: #48474F;
     color: #B45347;
    */
    color: #48474F;
    font-size: 16px;
    font-weight: bold;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-20 {
    font-size: 20px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    position: relative;
    /* Adjust these values accordingly */
    top: 12px;
    left: 5px;
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
    text-align: center;

}

.material-icons.md-90 {
    font-size: 90px;
}

.badge {
    font-size: 25px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Geneva";
    background-color: white;
    color: black;
    padding-top: 110px;
    /* Whatever the height of your navbar is; the default is 50px */
    padding-bottom: 140px;
}

div {
    padding: 5px;
}

.btn.btn-default {
    width: 100%;
    background-color: #B45347;
    color: white;
    height: 100%;
}

.btn.btn-custom {
    width: 60%;
    background-color: #B45347;
    color: white;
}

/* line spacing for form"Registrierung" */
.registerPanel {
    padding-bottom: 0%;
    padding-top: 0%;
    margin: 0%
}

.seperator {
    background-color: #3097d1;
    min-height: 2px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.mini-counts {
    padding-left: 10px;
}

.detailBtn {
    text-align: center;
}


/*vertical line*/
@media (min-width: 992px) {
    .border-between > [class*='col-md']:before {
        background: #9a9a9a;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        width: 1px;
        top: 0;
    }

    .border-between > [class*='col-md']:first-child:before {
        display: none;
    }
}

#gewähltesFZBtn {
    margin-top: 5px;
    padding-top: 10px;
}

#gewähltesFZDropdown {
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 12px;
    text-overflow: ellipsis;
    width: 100%;
}

#ausgewThema {
    color: white;
    background-color: #3097d1;
}

#ausgewFahrzeugIcon {
    text-align: center;
}

#sidebarContainer {
    padding-top: 10px;
}

.inbox {
    border-radius: 20px;
    background-color: #d4d4d4;
}

span.glyphicon-envelope {
    font-size: 1em;
}

#emailList {
    color: black;
    border-right: solid #337ab7;
    min-height: 200px;
}

#mailContent {
    color: #48474F;
    margin-top: 1em;
}

.mailContent {
    color: #48474F;
    height: 160px;
    overflow: scroll;
}

#mailTitel {
    color: #337ab7;
}

#mailAbsender {
    color: #48474F;
    font-size: 0.8em;
}

#mailDatum {
    color: #48474F;
    font-size: 0.8em;
}

#posteingang {
    min-height: 250px;
}

#posteingang p {
    display: inline-block;
    vertical-align: top;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.textPanel {
    max-height: 40px;
    min-height: 30px;
    font-weight: bold;
    width: 90%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tags p {
    display: inline-block;
    vertical-align: top;

}

.panel-default > .panel-heading {
    /*border-color:  #B45347;
      background-color: #B45347;
    color: white;
        max-height: 60px;
    */
}

.panel-default {
    /*border-color:  #B45347; */
}

#frageKnopf {
    min-height: 70px;
    line-height: 60px;
    text-align: center;
    border: 4px solid #ddd;
    font-size: 18px;

}

.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
}

/* create the ... */
.block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
}

[tooltip]:before {
    position: absolute;
    content: attr(tooltip);
    opacity: 0;

    transition: all 0.15s ease;
    padding: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:before {
    opacity: 1;

    background: #3097d1;
    margin-top: -30%;
    margin-left: 20%;
}


#map {
    width: 100%;
    height: 400px;
    alignment: center;
}

.fahrzeugAuswahlText {
    text-align: center;
    border-bottom: 1px solid #48474F;
    border-top: 1px solid #48474F;
    padding-top: 45px;
}

.fahrzeugAuswahl {
    background-color: whitesmoke;
    border-bottom: 2px solid #48474F;
}
.rahmenText {
    align-items: center;
    align-self: stretch;
    flex-flow: column nowrap;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 6px 10px;
    overflow: hidden;
    padding: 6px 12px;
    text-overflow: ellipsis;
    width: 100%;
}

#ausgewFahrzeug {
    padding-top: 30px;
}

#strongText {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
    align-items: center;
    align-self: stretch;
    flex-flow: column nowrap;
    justify-content: space-around;
    display: flex;
}

#selectedCar{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 6px 10px;
    overflow: hidden;
    padding: 6px 12px;
    text-overflow: ellipsis;
    width: 100%;
}

/* Design des Footers */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #48474F;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    max-height: 140px;
}

footer a {
    color: white;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 10px;
}

footer p {
    color: white;
    font-size: 10px;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #B45347;
    text-decoration: none;
}

/* die ganze Nav-Bar */
.active {
    color: #B45347;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 18px;
}

.navbar-default {
    font-family: "Open Sans", "Geneva";
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 0;
    border-bottom: 2px solid #48474F;
    min-height: 110px;
}

/* Position des Bildes */
.navbar-brand > img {
    max-height: 40px;
    width: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

/* Der Text innerhalb der Nav-Bar */
.navbar-default .navbar-nav > li > a {
    color: black;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 18px;
}

/* Der Text innerhalb der Nav-Bar mit Aktivem Element in Farbe nach Wahl */
.navbar-default .navbar-nav > li > a.active {
    color: #B45347;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 18px;
}

/* den Text innerhalb der Nav-Bar beim Mauszeiger ändern */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #B45347;
    text-decoration: none;
}

.verticalLine {
    border-right: solid #375D38;
}

/* Design der anpassenden Nav-Bar */
nav.navbar.shrink {
    min-height: 80px;
    border-bottom: 2px solid #48474F;
}

nav.navbar.shrink a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    bottom: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Position des Bildes nach dem Scrollen */
nav.shrink .navbar-brand > img {
    max-height: 35px;
    width: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding-bottom: 10px;
}

div#myNavbar.navbar-collapse.collapsing > ul > li > a{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

div#myNavbar.navbar-collapse.collapse.in > ul > li > a{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#myNavbar > li > a:active,
#myNavbar > li > a:hover {
    color: #B45347;
    text-decoration: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #48474F;
}

.topheader {
    background-color: #48474F;
    min-height: 25px;
    font-size: 10px;
    color: white;
    font-weight: normal;
    text-align: center;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: white;
    color: black;
}

/* Design der Beschriftung des Eingabefeldes */
.form-horizontal .control-label {
    padding-top: 0px;
    text-align: left;
}

.inputHeight2 {
    height: 140px;
}

h2 {
    padding-bottom: 20px;
}

img {
    width: 100%;
}

div {
    padding: 5px;
}

.fa {
    padding: 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}








