.fahrzeugAuswahlText {
    text-align: center;
    border-bottom: 1px solid #48474F;
    border-top: 1px solid #48474F;
    padding-top: 45px;
}

.fahrzeugAuswahl {
    background-color: whitesmoke;
    border-bottom: 2px solid #48474F;
}

#ausgewFahrzeug {
    padding-top: 30px;
}

#strongText {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 12px;
}