/* Design des Footers */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #48474F;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    max-height: 140px;
}

footer a {
    color: white;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    font-size: 10px;
}

footer a:hover,
footer a:active,
footer a:focus {
    color: #B45347;
    text-decoration: none;
}