/* Design des Footers */
html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    width: 100%;
    background-color: #48474F;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    min-height: 10px;
}

footer a {
    color: white;
    font-family: "Verdana", "Geneva", "serif";
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 12px;
}

footer a:hover,
footer a:focus {
    color: #f3c48f;
    text-decoration: none;
}