body {
    padding-top: 50px;
    /* Whatever the height of your navbar is; the default is 50px */
    padding-bottom: 50px;
}

/* die ganze Nav-Bar */
.navbar-default {
    font-family: "Lobster";
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 0;
    border-bottom: 3px solid #A6151A;
}

/* Position des Bildes */
.navbar-brand > img {
    max-height: 45px;
    width: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

/* Der Text innerhalb der Nav-Bar */
.navbar-default .navbar-nav > li > a {
    color: black;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 18px;
}

/* den Text innerhalb der Nav-Bar beim Mauszeiger ändern */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #A6151A;
    text-decoration: none;
}

.verticalLine {
    border-right: solid #A6151A;
}

/* Design der anpassenden Nav-Bar */
nav.navbar.shrink {
    min-height: 6px;
    border-bottom: 3px solid #A6151A;
}

nav.navbar.shrink a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    bottom: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Position des Bildes nach dem Scrollen */
nav.shrink .navbar-brand > img {
    padding-bottom: 20px;
    font-size: 14px;
    max-height: 45px;
    width: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

div#myNavbar.navbar-collapse.collapsing > ul > li > a{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

div#myNavbar.navbar-collapse.collapse.in > ul > li > a{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.sr-only {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 2px;
    font-weight: bold;
}

#myNavbar > li > a:active,
#myNavbar > li > a:hover {
    color: #A6151A;
    text-decoration: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #A6151A
}