body {
    padding-top: 50px;
    /* Whatever the height of your navbar is; the default is 50px */
    padding-bottom: 50px;
}

h3 {
    text-align: center;
    color: #926B4E;
    font-weight: bold;
    border-bottom: 4px solid #A6151A;
}

/* die ganze Nav-Bar */
.navbar-default {
    font-family: "Lobster";
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin-bottom: 0;
    border-bottom: 12px solid #A6151A;
}

/* Position des Bildes */
.navbar-brand > img {
    max-height: 45px;
    width: auto;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

/* Der Text innerhalb der Nav-Bar */
.navbar-default .navbar-nav > li > a {
    color: black;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    font-size: 18px;
}

/* den Text innerhalb der Nav-Bar beim Mauszeiger ändern */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #375D38;
}

.verticalLine {
    border-right: solid #A6151A;
}

/* Design der anpassenden Nav-Bar */
nav.navbar.shrink {
    min-height: 10px;
    border-bottom: 8px solid #A6151A;
}

nav.navbar.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 12px;
    font-weight: bold;
}

/* Position des Bildes nach dem Scrollen */
nav.shrink .navbar-brand > img {
    font-size: 10px;
    max-height: 35px;
}

div#myNavbar.navbar-collapse.collapse.in {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 2px;
    font-weight: bold;
}

.sr-only {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 2px;
    font-weight: bold;
}
