/* Design der Beschriftung des Eingabefeldes */
.form-horizontal .control-label {
    padding-top: 0px;
    text-align: left;
}

.inputHeight2 {
    height: 140px;
}

h2 {
    padding-bottom: 20px;
}

img {
    width: 100%;
}

div {
    padding: 5px;
}

